            <h1>site updates</h1>
            <section id="updates">
                26 Sept 14 ~ updated site to underwater ducky theme
            </section>
            <h1>to do list</h1>
            <ol>
                <li><s>add custom cursor</s></li>
                <li><s>add journal</s></li>
                <li>add library</li>
                <li>add lightbox to gallery</li>
                <li>fix responsiveness (somehow)</li>
            </ol>