---
permalink: /gallery/index.html
layout: underwater-duck.njk
stylesheet: "/resource/style/gallery.css"
---

    <h1>saturday's gallery!!</h1>
    <ul id="gallerylist">
      {% for a in albums.albums %}
      <li>
        <a href="/gallery/{{ a.slug | urlencode }}/">
          {% if a.cover %}<img src="{{ a.cover }}" width="300" alt="" loading="lazy">{% endif %}
          <h2>{{ a.title }}</h2>
          <p>{{ a.count }} photos</p>
        </a>
      </li>
      {% endfor %}
    </ul>
